{% extends 'base.html' %}
{% block content %}
    <h1>edit page</h1>
    <form action="/feeds/{{feed.id}}/edit" method="POST">
    {% comment %} 액션의 링크로 보내는데, 이때 포스트로 보낸다 {% endcomment %}
        {% csrf_token %}
        {% comment %} <p>여기 인풋 이름대로 feeds 로 보낸다</p> {% endcomment %}
        <p>title</p> 
        <input name="title" value="{{feed.title}}"> 
        <p>content</p>
        <input name="content" value="{{feed.content}}">
        <input type="submit" value="submit">
    </form>
{% endblock content %}